<a href="https://colab.research.google.com/github/nthlyyy/DataScienceProject/blob/main/OmdenaSchool_Ensemble%20Methods_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# After solving the assignmet open this link:
link:https://forms.gle/UwDt9ZhDoN5s4JnQ6

# and upload the file with your solution

# Q1

What is your definition of machine learning.? as you have understand from the lecture

# Q2

What is the different between supervised and unsupervised in machine learning?

# Q3

Find the mean, median and mode of the following list as a code.

In [ ]:
l=[21,43,121,54,6,67,3,65,23,23]

# Q4

Create your own index to this series. then find the mean and the sum of the non-null values.

In [ ]:
import pandas as pd
import numpy as np
ser_4 = pd.Series([100, 3, 0, -9, 200, 5, np.nan, 3, np.nan]) 
ser_4

0    100.0
1      3.0
2      0.0
3     -9.0
4    200.0
5      5.0
6      NaN
7      3.0
8      NaN
dtype: float64

# Q5

how to slice the following data frame to get the values of col2 and col3 from idex 10 to 15?

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(1000,3),
                  columns=['col 1', 'col 2', 'col 3'])

display(df)

        col 1     col 2     col 3
0    0.582759  0.750255  0.108883
1    0.761958  0.057518  0.052494
2    0.116067  0.368837  0.985019
3    0.720938  0.147784  0.972854
4    0.221474  0.373118  0.102814
..        ...       ...       ...
995  0.219347  0.962117  0.001168
996  0.075897  0.506637  0.452525
997  0.790137  0.809969  0.488185
998  0.283546  0.339144  0.470934
999  0.515813  0.895608  0.611218

[1000 rows x 3 columns]

# Do not forget to upload your solution 

link:https://forms.gle/UwDt9ZhDoN5s4JnQ6